*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body{

  width: 100vw;
  height: 100vh;

}

#root{

  width: 100%;
  height: 100%;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.App {
  text-align: center;
}


.App-header {
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  color: white;
  position: relative;
  height: calc(100vh - 30px);
  padding: 30px;
  width: 800px;

}

.App-link {
  color: #61dafb;
}



